<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CRUD - Transações financeiras</title>
    <style>
        table {
            border-collapse: collapse;
        }
        td, th {
            border-width: 1px;
            border-style: solid;
            border-color: black;
            min-width: 50px;
            padding: 10px;
        }
        a:nth-child(2) {
            color: #AA0000;
        }
    </style>
</head>
<body>
    <p>
        <h1>Transações financeiras realizadas</h1>
        <a href="/create"> Cadastrar nova transação </a>
    </p>
    <table>
        <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Título
                </th>
                <th>
                    Valor
                </th>
                <th>
                    Tipo
                </th>
                <th>
                    Ações
                </th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="transaction : ${transactionList}">
                <td th:text="${transaction.id}">ID</td>
                <td th:text="${transaction.title}">Título</td>
                <td th:text="${transaction.value}">Valor</td>
                <td th:text="${transaction.type}">Tipo</td>
                <td>
                    <a th:href="@{'/edit/' + ${transaction.id}}">Editar</a>
                    &nbsp;&nbsp;&nbsp;
                    <a th:href="@{'/delete/' + ${transaction.id}}">Deletar</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>